@import "tailwindcss";

:root {
  --raba-orange: #ef5a22;
  --neutral-black: #1a1a1a;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-neutral-black: var(--neutral-black);
  --color-raba-orange: var(--raba-orange);

  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: "Poppins", sans-serif; */
}

/* Bold placeholder text */
input::placeholder {
  font-weight: 600;
  color: #6b7280;
}

::selection {
  background-color: #ef5a22;
  color: white;
}

::-moz-selection {
  background-color: #ef5a22;
  color: white;
}

@keyframes waveform {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 90, 34, 0.4);
  }
  50% {
    box-shadow: 0 0 0 8px rgba(239, 90, 34, 0.2);
  }
  100% {
    box-shadow: 0 0 0 16px rgba(239, 90, 34, 0);
  }
}

.animate-waveform {
  animation: waveform 2s infinite;
}

.soundwave-bar {
  display: block;
  border-radius: 999px;
  transform-origin: center;
}

@keyframes audioWave {
  0% {
    transform: scaleY(0.5);
    opacity: 0.6;
  }
  50% {
    transform: scaleY(1.3);
    opacity: 1;
  }
  100% {
    transform: scaleY(0.5);
    opacity: 0.6;
  }
}
